Buoi4/buoi4.3/quanlyquanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://example.com/quanlyquanan"
           xmlns="http://example.com/quanlyquanan"
           elementFormDefault="qualified">

  <!-- Kiểu dữ liệu cho mã, tên, username, password -->
  <xs:simpleType name="MaChar10Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="TenVarChar50Type">
    <xs:restriction base="xs:string">
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="UsernameType">
    <xs:restriction base="xs:string">
      <xs:minLength value="6"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PasswordType">
    <xs:restriction base="xs:string">
      <xs:minLength value="10"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SDTType">
    <xs:restriction base="xs:string">
      <xs:pattern value="0[0-9]{9}"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="GioiTinhType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Nam"/>
      <xs:enumeration value="Nữ"/>
    </xs:restriction>
  </xs:simpleType>

  <!-- Định nghĩa các thực thể -->
  <xs:element name="QUANAN">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="NHANVIEN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MANV" type="MaChar10Type"/>
              <xs:element name="TENNV" type="TenVarChar50Type"/>
              <xs:element name="SDT" type="SDTType"/>
              <xs:element name="DIACHI" type="xs:string"/>
              <xs:element name="GIOITINH" type="GioiTinhType"/>
              <xs:element name="USERNAME" type="UsernameType"/>
              <xs:element name="PASSWORD" type="PasswordType"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="BAN" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SOBAN" type="xs:integer"/>
              <xs:element name="TENBAN" type="MaChar10Type"/>
              <xs:element name="THANHTOAN" type="xs:integer"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="MON" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="MAMON" type="MaChar10Type"/>
              <xs:element name="TENMON" type="TenVarChar50Type"/>
              <xs:element name="GIA" type="xs:float"/>
              <xs:element name="HINHANH" type="xs:string"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="HOADON" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="SOHD" type="xs:integer"/>
              <xs:element name="NGAYLAP" type="xs:date"/>
              <xs:element name="TONGTIEN" type="xs:float"/>
              <xs:element name="LAP_HD" type="MaChar10Type"/>
              <xs:element name="THANHTOAN" type="xs:integer"/>
              <xs:element name="CTHD" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="MAMON_CTHD" type="MaChar10Type"/>
                    <xs:element name="SOLUONG" type="xs:integer"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>

    <!-- Khóa chính -->
    <xs:key name="NhanVienKey">
      <xs:selector xpath="NHANVIEN"/>
      <xs:field xpath="MANV"/>
    </xs:key>
    <xs:key name="BanKey">
      <xs:selector xpath="BAN"/>
      <xs:field xpath="SOBAN"/>
    </xs:key>
    <xs:key name="MonKey">
      <xs:selector xpath="MON"/>
      <xs:field xpath="MAMON"/>
    </xs:key>
    <xs:key name="HoaDonKey">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="SOHD"/>
    </xs:key>

    <!-- Khóa ngoại -->
    <xs:keyref name="HoaDon_LapHD_Ref" refer="NhanVienKey">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="LAP_HD"/>
    </xs:keyref>
    <xs:keyref name="HoaDon_ThanhToan_Ref" refer="BanKey">
      <xs:selector xpath="HOADON"/>
      <xs:field xpath="THANHTOAN"/>
    </xs:keyref>
    <xs:keyref name="CTHD_MaMon_Ref" refer="MonKey">
      <xs:selector xpath="HOADON/CTHD"/>
      <xs:field xpath="MAMON_CTHD"/>
    </xs:keyref>
  </xs:element>
</xs:schema>